#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<!DOCTYPE html>
<html lang="en">
  <head>

#parse("azkaban/webapp/servlet/velocity/style.vm")
#parse("azkaban/webapp/servlet/velocity/javascript.vm")

    <script type="text/javascript" src="${context}/js/raphael.min.js"></script>
    <script type="text/javascript" src="${context}/js/morris.min.js"></script>
    <script type="text/javascript" src="${context}/js/azkaban/util/date.js"></script>
    <script type="text/javascript" src="${context}/js/azkaban/view/time-graph.js"></script>
    <script type="text/javascript" src="${context}/js/azkaban/view/job-history.js"></script>
    <script type="text/javascript">

    </script>
    <link rel="stylesheet" type="text/css" href="${context}/css/morris.css" />
  </head>

#parse ("azkaban/webapp/servlet/velocity/nav.vm")

#if ($errorMsg)
  #parse ("azkaban/webapp/servlet/velocity/errormsg.vm")
#else

    <div class="az-page-header">
      <div class="container-full">
        <div class="row">
          <div class="header-title">
            <h1><a href="/index">UserManager</a></h1>
          </div>
          <div class="header-control">

          </div>
        </div>
      </div>
    </div>

    <div class="container-full">
          <div class="alert alert-dismissable alert-messaging" id="messaging">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p id="messaging-message"></p>
          </div>


          <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
              <ul class="nav nav-pills nav-stacked">
                <li
                    #if ($userList)
                        class="active"
                    #end
                ><a href="/usermanager">Users</a></li>
                <li
                    #if ($groupList)
                        class="active"
                    #end
                ><a href="/usermanager?groups">Groups</a></li>
                <li
                    #if ($roleList)
                        class="active"
                    #end
                ><a href="/usermanager?roles">Roles</a></li>
                <li><a href="/usermanager?adduser"> Add User</a></li>

              </ul>
            </div>
            <div class="modal-content">
                    <div class="modal-body">
                      <div class="alert alert-danger" id="modal-error-msg">$error_msg</div>
                      <fieldset class="form-horizontal">
                        <div class="form-group">
                          <label for="path" class="col-sm-2 control-label">Name</label>
                          <div class="col-sm-10">
                            <input id="path" name="project" type="text" class="form-control"
                                   placeholder="Project name">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="description" class="col-sm-2 control-label">Description</label>
                          <div class="col-sm-10">
                            <textarea id="description" name="description" rows="2" cols="40"
                                      class="form-control" placeholder="Project description"></textarea>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <div class="modal-footer">
                      <input name="action" type="hidden" value="create">
                      <input name="redirect" type="hidden" value="$!context/">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" id="create-btn">Create User</button>
                    </div>
                  </div>



#end
  </body>
</html>
